<a href="https://colab.research.google.com/github/gongliangz/AppliedNLPMaterial/blob/master/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Content Copyright by Gongliang Zhang*

# Python obejct and data structure


**Python Documentation contents **   
https://docs.python.org/3/contents.html#python-documentation-contents   
**Common data types include:**
* *Number: int* (for integer)
* *Number: float*
* *str* (for string)
* *list*
* *tuple*
* *dictionary*
* *set*
* *boolean* (for Boolean True/False)  

Use type(object) to find object type

## Number (arithmetic)

[math — Mathematical functions](https://docs.python.org/3/library/math.html)

In [ ]:
# We mainly focus on integers and floating numbers
# Addition
2+345678

345680

In [ ]:
# Subtraction
45678790-2

45678788

In [ ]:
# Multiplication
2*345456789

690913578

In [ ]:
# Division
346890/2

173445.0

In [ ]:
# Floor Division: the // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.
22//5

4

In [ ]:
# Modulo: the % operator returns the remainder after division.
9%5

4

In [ ]:
# Powers
4**4

256

In [ ]:
# roots
9**0.25

1.7320508075688772

In [ ]:
# Order of Operations
5 + 1 * 1 + 3

9

In [ ]:
# Parentheses to specify orders
(5+1) * (1+3)

24

In [ ]:
# maximum and minimul
max(1, 5, 7)
min(1, 5, 7)

1

In [ ]:
# complex() returns a complex number with value real + image*j
# Create 1+3j
complex(1,3)

(1+3j)

In [6]:
# Advanced
hex(1234) #Convert the number into a hexadecimal format; https://en.wikipedia.org/wiki/Hexadecimal
bin(1234) # Convert the number into a binary format
pow(2,3) # Two arguments, equivalent to x^y
pow(2,3,4) # Three arguments, equivalent to (x^y)%z
abs(-3.1415) # Returns the absolute value of a number
round(3.1415,2) # Return a given precision in decimal digits (0 by default). Does not convert the integer to the float
round(314.15,-2)

300.0

## Variable (object)

In Python, variable names must follow these rules and conventions:  
Rules (Enforced by Python)   
1. Must start with a letter (a-z, A-Z) or an underscore (_); Can not start with a number
2. Can only contain letters, numbers, and underscores (a-z, A-Z, 0-9, _); Can not contain space,:'",<>/?|\!@#%^&*~-+, use _ instead
3. Cannot be a Python keyword (e.g., if, else, while, def, class, etc.), like list or str
4. Case-sensitive

Conventions (Best Practices)  
1. Use snake_case for variable names (recommended by PEP 8),  lowercase with underscores
2. Use descriptive names
3. Constants should be in UPPER_CASE
4. Avoid using single-character names (except common cases like i, x, y for loops or math); avoid using the single characters l (lowercase letter el), O (uppercase letter oh) and I (uppercase letter eye) as they can be confused with 1 and 0

In [ ]:
# Let's create an variable or object called "a" and assign it the number 10
# Python sets the data type based on the variable assigned to it
a = 'Python bootcamp' # The data is a string
a = 10  # The data is a uumber now
a-9

1

In [ ]:
# Sum
a+5*a

60

In [ ]:
# Reassignment and check
a = 20
a-1

19

In [ ]:
# Use object names to track of update
my_income = 1100
tax_rate = 0.2
my_tax = my_income*tax_rate
my_tax

220.0

In [ ]:
# Python uses dynamic typing, meaning variables can be reassigned to different data types. This flexibility distinguishes Python from statically typed languages.
# Pros: easy to work with; fast development time; save memory
# Cons: hard to track and may result in unexpected bugs (e.g., data type change)
insurance = 'Medicaid'
insurance

'Medicaid'

In [ ]:
insurance = 'Rejected'
insurance

'Rejected'

In [ ]:
# Determining variable type with type()
a = 1
b = 'a'
c = (1,2)
d = [1,2]
print('type of a is', type(a))
print('type of b is', type(b))
print('type of c is', type(c))
print('type of d is', type(d))
type(a)

type of a is <class 'int'>
type of b is <class 'str'>
type of c is <class 'tuple'>
type of d is <class 'list'>

int

In [ ]:
a,b = 1,'a'
print(a)
print(b)

1
a

## String

[string — Common string operations](https://docs.python.org/3/library/string.html)

In [ ]:
# In Python, strings are used to store text information, such as names. A string is actually a sequence, meaning Python keeps track of each character in a specific order.
# For example, Python interprets the string 'MediCare' as a sequence of letters. This allows us to use indexing to access specific characters, such as the first or last letter.
# Single word, using single or double quote
'MediCare'
"MediCare"
# Entire phrase
'Blue Cross is a commerical insurance'
# Be careful with quotes!
# ' I'm using single quotes, but this will create an error'
" I'm using single quotes, but this will create an error, use double quote instead"

" I'm using single quotes, but this will create an error, use double quote instead"

In [ ]:
# In Notebook, placing a string in a cell will automatically display it, but the correct way to display strings is by using the print function.
# We can simply declare a string
'MediCaid'

'MediCaid'

In [ ]:
# Note that we can't output multiple strings this way
'MediCaid'
'MediCare'

'MediCare'

In [ ]:
# Use a print statement to print a string
print('MediCaid')
print('MediCare')
print('Use \n print \n to dispaly a new line')
print('MediCaid', 'MediCare')
print('MediCaid MediCare')

MediCaid
MediCare
Use
 print
 to dispaly a new line
MediCaid MediCare
MediCaid MediCare

In [ ]:
# Python's built-in len() function counts all characters in a string, including spaces and punctuation
len('MediCare and MediCaid')

21

In [ ]:
# Since strings are sequences in Python, you can use indexing to access specific characters by placing brackets [] after an object, with indexing starting at 0
# Assign a as a string
a = 'MediCaid'
print(a)
# Show first element
print(a[0])
# Last letter (one index behind 0 so it loops back around)
print(a[-1])

MediCaid
M
d

In [ ]:
# Slicing using ":" which grabs everything up to a designated point (index)
# Grab everything past the first character all the way to the end
print(a[1:])

# Grab everything before the last character all the way to the beginning
print(a[:-1])

# Grab everything between the first index and the last index. The character at the start index is included, but the character at the end index is not
# Index 0-->M; 1-->e; 2-->d; 3-->i; 4-->C; 5-->a; 6-->i; 9-->d;
print(a[2:5])

#Everything
print(a[:])

ediCaid
MediCai
diC
MediCaid

In [ ]:
# Grab everything in steps size of 1
print(a[::1])
# Grab everything in step sizes of 2
print(a[::2])
# Print a string backwards
print(a[::-1])

MediCaid
MdCi
diaCideM

In [ ]:
# Concatenate strings!
a + ' MediCare'

'MediCaid MediCare'

In [ ]:
# multiplication
print(a*2)

MediCaidMediCaid

In [ ]:
# Upper Case a string
print(a.upper())
# Lower case
print(a.lower())

MEDICAID
medicaid

In [ ]:
# Split a string by blank space (default)
a = 'MediCaid and MediCare'
print(a.split())

# Split by a specific element (exclude this element)
a.split('C')

['MediCaid', 'and', 'MediCare']

['Medi', 'aid and Medi', 'are']

In [ ]:
# String formatting, use the .format() method to concatenate or add formatted objects to the string statements.
#'Insert another string with curly brackets: {}'.format('The inserted string')
'MediCaid and {}'.format('MediCare')

# Inserted objects can be called by index position
print('Payer types include {2} {1} {0}'.format('Commercial','MediCaid','MediCare'))

# Inserted objects can be assigned keywords:
print('Patient A has {a} insurnce, first insurance is: {b}, in-network coverage is: {c}'.format(a= 3,b='Commercial',c= 0.9))


#3. Inserted objects can be reused, avoiding duplication:

print('Blue Cross is %s insurance and Aetna is a %s too.' %('Commercial','Commercial'))
# vs.
print('Blue Cross is {i} insurance and Aetna is a {i} too.'.format(i='Commercial'))

Payer types include MediCare MediCaid Commercial
Patient A has 3 insurnce, first insurance is: Commercial, in-network coverage is: 0.9
Blue Cross is Commercial insurance and Aetna is a Commercial too.
Blue Cross is Commercial insurance and Aetna is a Commercial too.

In [ ]:
# %s to inject strings into a statements. The modulo % is referred to as a "string formatting operator".
print("I have %s insurance." %'MediCaid')

print("I have %s from myself, and %s from my spouse." %('MediCaid','Commerical insurance'))

x, y = 'MediCaid', 'Commerical insurance'
print("I have %s from myself, and %s from my spouse."%(x,y))

# %s and %r convert python object to a string using two separate methods: str() and repr(). %r and repr() deliver the string representation of the object, including quotation marks and any escape characters
x, y = 'MediCaid', 'Commerical insurance'
print("I have %r from myself, and %r from my spouse."%(x,y))

I have MediCaid insurance.
I have MediCaid from myself, and Commerical insurance from my spouse.
I have MediCaid from myself, and Commerical insurance from my spouse.
I have 'MediCaid' from myself, and 'Commerical insurance' from my spouse.

In [ ]:
# \t inserts a tab into a string.
print("I have %s insurance." %'MediCaid')
print("I have %s insurance." %'\tMediCaid')
print("I have %s insurance." %'\t MediCaid')

I have MediCaid insurance.
I have 	MediCaid insurance.
I have 	 MediCaid insurance.

In [ ]:
# The %s operator converts raw value into a strin. The %d operator converts numbers to integers first, without rounding.
print('My BMI is %s in the recent visit.' %24.25)
print('My BMI is %d in the recent visit.' %24.25)

My BMI is 24.25 in the recent visit.
My BMI is 24 in the recent visit.

In [ ]:
# Floating point numbers use the format %5.2f. Here, 5 would be the minimum number of characters the string should contain
# 2f stands for numbers to show past the decimal point.Can be padded with whitespace if the entire number does not have enouth digits
print('Floating point numbers: %5.2f' %(3.14159))
print('Floating point numbers: %1.0f' %(3.14159))
print('Floating point numbers: %1.5f' %(3.14159))
print('Floating point numbers: %5.2f' %(3.14159))
print('Ten-character, two-decimal number:%10.2f' %3.14159)
print('Ten-character, two-decimal number:{0:10.2f}'.format(3.14159))

Floating point numbers:  3.14
Floating point numbers: 3
Floating point numbers: 3.14159
Floating point numbers:  3.14
Ten-character, two-decimal number:      3.14
Ten-character, two-decimal number:      3.14

In [ ]:
# Bring external variables into to the string, instead of passing through .format(var).
payor = 'MediCaid'
print(f"Fed's primary insurance is {payor}.")
print(f"Fed's primary insurance is {payor!r}.") # Pass !r to get the string representation:

num = 3.14159
print("Ten character, four decimal number is:{0:10.4f}".format(num))
print(f"Ten character, four decimal number is:{num:{10}.{6}}")

Fed's primary insurance is MediCaid.
Fed's primary insurance is 'MediCaid'.
Ten character, four decimal number is:    3.1416
Ten character, four decimal number is:   3.14159

In [ ]:
# Alighment and padding using .format().By default, .format() aligns text to the left, numbers to the right.
print('{0:10} | {1:9}'.format('Patient_ID', 'Insurance'))
print('{0:10} | {1:9}'.format(1, 'MediCaid'))
print('{0:10} | {1:9}'.format(2, 'Self-pay'))
print('---<,^, or > to set a left, center or right alignment---')
print('{0:<10} | {1:>9}'.format('Patient_ID', 'Insurance'))
print('{0:<10} | {1:>9}'.format(1, 'MediCaid'))
print('{0:<10} | {1:>9}'.format(2, 'Self-pay'))
print('---precede the aligment operator with a padding character---')
print('{0:<10} | {1:>9}'.format('Patient_ID', 'Insurance'))
print('{0:=<10} | {1:=>9}'.format(1, 'MediCaid'))
print('{0:-<10} | {1:->9}'.format(2, 'MediCare'))
print('{0:.<10} | {1:.>9}'.format(2, 'Self-pay'))

Patient_ID | Insurance
         1 | MediCaid
         2 | Self-pay
---<,^, or > to set a left, center or right alignment---
Patient_ID | Insurance
1          |  MediCaid
2          |  Self-pay
---precede the aligment operator with a padding character---
Patient_ID | Insurance
1========= | =MediCaid
2--------- | -MediCare
2......... | .Self-pay

In [16]:
# Advanced
s = 'python bootcamp'
s.capitalize() # Capitalize first word in string
s.upper()
s.lower()
s.count('o') # returns the number of occurrences, without overlap
s.find('o') # returns the starting index position of the first occurence
#s.center(20,'x') #  place your string 'centered' between a provided string with a certain length
s.isalnum() # True if all characters in s are alphanumeric
s.isalpha() # True if all characters in s are alphabetic
s.islower() # True if all cased characters in s are lowercase and there is at least one cased character in s
s.isspace() # True if all characters in s are whitespace
s.endswith('o') # True if the last characters is letter 'o'
s.split('o') # Split the string at 'o' and return a list of the results
s.partition('o') # Return a tuple that includes the first occurrence of 'o'

('pyth', 'o', 'n bootcamp')

## List

In [ ]:
# Lists are constructed with brackets [] and commas separating every item in the list.
# List is mutable and each element inside a list can be changed!
#
# Create a list and assign to an variable (object)
my_list1 = [1,2,3]
my_list2 = [1,'abc',[1,2,3]]
my_list2

[1, 'abc', [1, 2, 3]]

In [ ]:
#  len() function shows how many items in the sequence of the list.
len(my_list2)
# len('my_list2') # compare string and list

3

In [ ]:
# Indexing and Slicing, index starts from 0
my_list = [1,3,'three','four',5, 'SIX']
# Element at index 0
my_list[0]

1

In [ ]:
# index 1 and everything follow it (to the end)
my_list[1:]

[3, 'three', 'four', 5, 'SIX']

In [ ]:
# Elements before index 3, that is index 0, 1,2; 1st, 2nd and 3rd elements
my_list[:3]

[1, 3, 'three']

In [ ]:
# concatenate lists, similar to the string operation
my_list + ['7',9, 'Nine']

[1, 3, 'three', 'four', 5, 'SIX', '7', 9, 'Nine']

In [ ]:
# Append
my_list.append('appended item')
my_list

[1, 3, 'three', 'four', 5, 'SIX', 'appended item']

In [ ]:
#  pop function drop an item from the list. Delete the last index by default, or specify which index to pop off.
my_list.pop() # last element by default
# my_list.pop(0) # index 0 or first item
my_list

[1, 3, 'three', 'four', 5, 'SIX']

In [ ]:
# use the * for a duplication, similar to the string operation
# Make the list double
my_list * 2

[1, 3, 'three', 'four', 5, 'SIX', 1, 3, 'three', 'four', 5, 'SIX']

In [ ]:
# Use reverse to reverse order
my_list.reverse()
my_list

['SIX', 5, 'four', 'three', 3, 1]

In [ ]:
# Nesting Lists
list1,list2, list3  = [1,2,3],[4,5,6],[7,8,9]
matrix = [list1,list2,list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[0]
#matrix[0][0]

[1, 2, 3]

In [ ]:
# List comprehension by deconstructing a for loop within a []
row_head = [row[0] for row in matrix]
row_head

[1, 4, 7]

In [ ]:
# order
my_list = [2,6,4,1,3,5]
sorted(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
min(my_list)
max(my_list)

6

In [60]:
# Advanced, from chatgpt
my_list = [2,6,4,1,3,5]
my_list.sort()
my_list.count(2)
my_list.append([4, 5])
my_list.extend([4, 5])
my_list.index(2)
my_list.insert(2,'insert')
my_list.pop()
my_list.remove('insert')
my_list.reverse()

## Dictionary

In [ ]:
# A Python dictionary consists of the key and associated value. The value can be int, float, string, list, dictionary or almost any Python object.
# Make a dictionary with {} including key:value pairs
my_dict = {'key1':'value1','key2':'value2'}

my_dict = {'key1':123,'key2':[400,500,600],'key3':'abcd'}

# Call values by  key
my_dict['key2']

[400, 500, 600]

In [ ]:
# Call an index to get the value
#my_dict['key3'][0] # Get the first character from the string
#my_dict['key2'][0] # Get the first element from the list

my_dict['key2'] = my_dict['key1'] - 123 # Subtract 123 from the value
#my_dict['key2'] -= 123 # Same function as script above

In [56]:
# Create a dictionary
my_dict = {}
# Create a new key through assignment
my_dict['C1'] = '123'
my_dict['C2'] = [400,500,600]
my_dict['C3'] = 'abcd'
my_dict

{'C1': '123', 'C2': [400, 500, 600], 'C3': 'abcd'}

In [ ]:
# # Dictionary nests inside a dictionary
my_dict['C3'] = {'C1': '123', 'C3': 'abcd'}
my_dict

{'C1': '123', 'C2': [400, 500, 600], 'C3': {'C1': '123', 'C3': 'abcd'}}

In [ ]:
my_dict['C3']['C1']

'123'

In [ ]:
my_dict.keys() # Method to return all keys .
my_dict.values() # Method to return all values
my_dict.items() # Method to return all key:value pairs

dict_items([('key1', 123), ('key2', [400, 500, 600]), ('key3', 'abcd')])

In [55]:
# Advanced
[x**2 for x in range(5)]
{x:x**2 for x in range(5)} # Dictionary Comprehensions

[0, 1, 4, 9, 16]

In [57]:
for k in my_dict.keys(): # .values():; .items():
    print(k)

C1
C2
C3

## Tuple

In [ ]:
# Tuple is similar to the list, but it is immutable or can not be changed. Use tuples for unchanged, such as date
# Create a tuple, tuples use () with elements separated by commas
my_tuple = (1,'two',3)  # Can mix object types

In [ ]:
# Check len just like a list
len(my_tuple)

3

In [ ]:
# Like list, use index to pull element
#my_tuple[1]
my_tuple[-1]

3

In [ ]:
# .index returns the index used value loaded
my_tuple.index('two')

1

In [ ]:
# .count to count the number of times a value appears
my_tuple.count('two')

1

In [ ]:
# Immutability. Tuple is immutable
my_tuple[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuples can't grow due to immutability. Once a tuple is created we can not add or change a variable.
my_tuple.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## Set

[Set Types](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)

In [17]:
# Set is an unordered collection of unique elements (no duplicates).
my_set = set()
# add() method
my_set.add(1)
my_set.add('a')
my_set

{1, 'a'}

In [18]:
# Create a list with repeats. Set will drop duplicates
list = [1,1,2,2,3,4,5,6,6]
set(list)

{1, 2, 3, 4, 5, 6}

In [36]:
# Advanced
l = set([1,1,2,2,3,4,5,6,6])
l.clear()
l = set([1,1,2,2,3,4,5,6,6])
lc = l.copy()
lc.add(100)

l.discard(2)

In [37]:
lc.difference(l)  # Returns the difference between two or more sets

In [42]:
l = set([1,1,2,2,3,4,5,6,6])
lc = l.copy()
lc.add(100)
l.intersection(lc) # Returns the shared elements of the two sets as a new set

{1, 2, 3, 4, 5, 6}

In [46]:
lc.intersection_update(l) # Update a set with the intersection of itself and another.
lc

{1, 2, 3, 4, 5, 6}

In [47]:
l = set([1,1,2,2,3,4,5,6,6])
lc = l.copy()
lc.add(100)
lc.isdisjoint(l) # Returns True if two sets have a null intersection

False

In [49]:
l = set([1,1,2,2,3,4,5,6,6])
lc = l.copy()
lc.add(100)
l.issubset(lc) # Return whether another set contains this set

True

In [50]:
lc.issuperset(lc) # Return whether this set contains another set.

True

In [51]:
lc.union(l) # Returns the union of two sets (i.e. all elements that are in either set.)

{1, 2, 3, 4, 5, 6, 100}

In [53]:
l.update(lc) # Update a set with the union of itself and others.
l

{1, 2, 3, 4, 5, 6, 100}

## Boolean

comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition is True.</td>
<td> (a == b) is not True.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition is True.</td>
<td> (a != b) is True.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition is True.</td>
<td> (a &gt; b) is not True.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition is True.</td>
<td> (a &lt; b) is True.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition is True.</td>
<td> (a &gt;= b) is not True. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition is True.</td>
<td> (a &lt;= b) is True. </td>
</tr>
</table>

In [ ]:
# Booleans (True/False or 1/0).
# Set object to be a boolean
a = True
a

True

In [ ]:
# Output is boolean
3 > 4

False

In [ ]:
5 == 5 # equal
2 != 1 # not equal
2 >= 1 # greater than or equal
2 <= 1 # less than or equal

In [ ]:
# Chained Comparison Operators
1 < 2 < 3

True

In [ ]:
# and means two checks are True, and then the total check to be True.
1<2 and 2<3

True

In [ ]:
1 < 3 > 5

False

In [ ]:
1==1 or 100==1

True

In [ ]:
'x' in ['x','y','z']

True

In [ ]:
'x' not in ['x','y','z']

False

In [ ]:
# all() and any(). all() will return True if all elements are True
my_list = [True,True,False,True]
all(my_list)
any(my_list)

True

<table class="table table-bordered">
<tr>
<th style="width:10%">Method</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>isalpha()</td>
<td>Checks if all characters are alphabetic (a-z, A-Z).</td>
<td> "Hello".isalpha() → True</td>
</tr>
<tr>
<td>isdigit()</td>
<td>Checks if all characters are digits (0-9).</td>
<td> "123".isdigit() → True</td>
</tr>
<tr>
<td>isalnum()</td>
<td>Checks if all characters are alphanumeric (letters and digits).</td>
<td> "Hello123".isalnum() → True</td>
</tr>
<tr>
<td>islower()</td>
<td>Checks if all characters are lowercase.</td>
<td> "hello".islower() → True</td>
</tr>
<tr>
<td>isupper()</td>
<td>Checks if all characters are uppercase.</td>
<td> "HELLO".isupper() → True</td>
</tr>
<tr>
<td>isspace()</td>
<td>Checks if the string contains only spaces.</td>
<td> " ".isspace() → True</td>
</tr>

<td>istitle()</td>
<td>Checks if the string is title-cased (first letter capitalized).</td>
<td>"Hello World".istitle() → True</td>
</tr>
<td>isnumeric()</td>
<td>Checks if the string contains only numeric characters (including superscripts/subscripts, not just 0-9).</td>
<td> "½".isnumeric() → True </td>
</tr>

<td>isdecimal()</td>
<td>Checks if the string contains only decimal digits (0-9).</td>
<td> "123".isdecimal() → True</td>
</tr>
</table>

In [ ]:
# is method
'1'.isdigit()

True

# Python statement

*  Python statement ends with a colon
*  Indentation (white space) describea what takes place of the statement.

## if, elif, else statement

In [ ]:
#if condition 1:
    #action 1
#elif condition 2:
    #action2
#else:
    #action3

if 1==1:
  print('1=1 is True')


x = True
if x:
    print('x is True!')
else:
    print('x is not True')

1=1 is True
x is True!

In [ ]:
from datetime import date
user_input = input("Enter your name: ")
if user_input == 'Sammy':
    print('Welcome Sammy!')
elif user_input =='George':
    print('Welcome George!')
else:
    print('Welcome to Python bootcamp, ' + user_input, '. Today is ', date.today())

Enter your name: Syed
Welcome to Python bootcamp, Syed . Today is  2025-03-22

## for loop

In [ ]:
# for loop goes through items in sequence
#for item in object:
    #action
my_list = [0,1,2,3,4]
for i in my_list:
  print(i)

for i in range(5): # range(5) = range(0,5) = [0,1,2,3,4]; range(start, stop, step); test [i for i in range(5,10,1)]
  print(i)

for i in 'string': # string
    print(i)

for i in ['This', 'is','a', 'string']: # list; ('This', 'is','a', 'string') tuple
    print(i)

0
1
2
3
4
0
1
2
3
4
s
t
r
i
n
g
This
is
a
string

In [ ]:
for i in range(10):
    if i % 2 == 0:
        print(i, 'is even number')
    else:
        print(i, 'is odd number')

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [ ]:
# Start sum at zero
k = 0
for i in range(10):
    k += i # same as k = k + i
print(k)

45

In [ ]:
my_list = [(1,4),(2,5),(3,16)]
for (t1,t2) in my_list:
    print(t1)

my_dict = {'c1':10,'c2':20,'c3':30}
for item in my_dict:
    print(item)
    print(my_dict['c1'])

1
2
3
c1
10
c2
10
c3
10

In [ ]:
my_dict = {'c1':10,'c2':20,'c3':30}
#my_dict.items() # Dictionary methods: .keys(), .values() and .items()
for k,v in my_dict.items():
    print(k)
    print(v)
    print(k,v)

c1
10
c1 10
10
c2
20
c2 20
20
c3
30
c3 30
30

## while loop

In [ ]:
# while statement repeatedly execute the same statement while the condition is true
# while condition:
    #action 1
#else:
    #action 2
i = 0

while i < 5:
    print('i = ',i)
    print('i is still < 10, adding 1 to i')
    i+=1
else:
    print('All Done!')

i =  0
i is still < 10, adding 1 to i
i =  1
i is still < 10, adding 1 to i
i =  2
i is still < 10, adding 1 to i
i =  3
i is still < 10, adding 1 to i
i =  4
i is still < 10, adding 1 to i
All Done!

In [ ]:
# We can use break, continue, and pass statement in the loops to add additional functionality.
# break: breaks out of the current closest enclosing loop
# continue: goes to the beginning of the closest enclosing loop
# pass: does nothing at all, jump to the next step
i = 0

while i < 5:
    print('i = ',i)
    print('i is still < 10, adding 1 to i')
    i+=1
    if i==3:
        print('i==3')
    else:
        print('continuing...')
        continue

i =  0
i is still < 10, adding 1 to i
continuing...
i =  1
i is still < 10, adding 1 to i
continuing...
i =  2
i is still < 10, adding 1 to i
i==3
i =  3
i is still < 10, adding 1 to i
continuing...
i =  4
i is still < 10, adding 1 to i
continuing...

In [ ]:
i = 0

while i < 5:
    print('i = ',i)
    print('i is still < 10, adding 1 to i')
    i+=1
    if i==3:
        print('Breaking because i==3')
        break
    else:
        print('continuing...')
        continue

i =  0
i is still < 10, adding 1 to i
continuing...
i =  1
i is still < 10, adding 1 to i
continuing...
i =  2
i is still < 10, adding 1 to i
Breaking because i==3

In [ ]:
i = 0

while i < 5:
    print('i = ',i)
    print('i is still < 10, adding 1 to i')
    i+=1
    if i==3:
        print('Pass because i==3')
        pass
    else:
        print('continuing...')
        continue

i =  0
i is still < 10, adding 1 to i
continuing...
i =  1
i is still < 10, adding 1 to i
continuing...
i =  2
i is still < 10, adding 1 to i
Pass because i==3
i =  3
i is still < 10, adding 1 to i
continuing...
i =  4
i is still < 10, adding 1 to i
continuing...

## Other popular operators

In [ ]:
# range: generate a list of integers,  need to cast it to a list with list()
range(0,5)
list(range(0,5))
list(range(0,11,2)) # range(start, stop, step)

[0, 1, 2, 3, 4]

In [ ]:
list(enumerate('abcd'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [ ]:
# enumerate
for i,letter in enumerate('abcd'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d

In [ ]:
# zip
mylist1 = [1,2,3,4]
mylist2 = ['a','b','c','d']
zip(mylist1,mylist2)
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [ ]:
from random import randint
# Return random integer between [a, b], including both end points.
randint(0,100)

24

# Python method and function

## Method

In [ ]:
# method is action built into object. Method can take argument and perform specific actions on an object
# object.method(arg1,arg2,etc...)
# Methods for the list: append(), extend(), insert(), remove(), pop(), clear(), index(), count(), sort(), reverse(), copy()

# Create a list
my_list = [1,2,3,4]
# To find all the methods available for a Python list, you can use the dir() function and filter out special methods if needed.run line below to get all methods for list object
# [method for method in dir(my_list) if callable(getattr(my_list, method)) and not method.startswith("__")]
# help(my_list) or help(my_list.count) to get class and method information to the list object

my_list.append('a') # append() add elements to the end of a list
my_list.count('a') # count() count occurrence number of an element
my_list

[1, 2, 3, 4, 'a']

## Function

In [ ]:
# Function is group of statements and actions that be run when needed, which save time on repeatedly writing the same code again and again
# Function can import parameters
# Example
def my_fun(i): # Define function name
    return i*2 # Load the input parameter i, multiply by 2 and output
my_fun(2)

4

In [ ]:
# Start with def then a space followed by the name of the function, end with :(colon)
# Don't use the same name as a built-in function in Python (see: https://docs.python.org/3/library/functions.html)
# Argument(s) are the input(s) for the function
# Indent to the begin the code inside function
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) exists.
    When you call help() on your function it will be printed out.

    """
    This is an example of Google style.

    Args:
        param1: This is the first param.
        param2: This is a second param.

    Returns:
        This is a description of what is returned.

    Raises:
        KeyError: Raises an exception.
    """

    '''
    # Statements here
    # Return desired result

In [ ]:
# Function without parameter
def welcome ():
    print('hello, welcome to Python bootcamp')
welcome()

hello, welcome to Python bootcamp

In [ ]:
# Function with parameter
def welcome (your_name):
    print('hello {}, welcome to Python bootcamp'.format(your_name))
welcome('Jack')

hello Jack, welcome to Python bootcamp

In [ ]:
# Function with parameter
# return: save the result of the output as a variable.
# print(): displays the output to you, not save it for future use
def add_num (num1,num2):
    return num1 * num2

i = add_num(2,3)
i

6

In [ ]:
paylist = [('Albert',100),('Bob',200),('Cassie',4000)]
def copay_check (fy, pay):

    # Set out-of-pocket
    out_of_pocket = 2000
    # Set some empty value before the loop
    Fiscal_year = fy

    for pt,p in pay:
        if p > out_of_pocket:
            pt_name = pt
            payment = p
        else:
            pass

    # Notice the indentation here
    print (pt_name, ' paid ',payment, ' in ',  Fiscal_year, 'which is over the limit of out-of-pocket')
    return (pt_name,payment)


copay_check ('2025', paylist)

Cassie  paid  4000  in  2025 which is over the limit of out-of-pocket

('Cassie', 4000)

## Useful functions and modules: map, filter, lambda, reduce

In [ ]:
# map: call the same function to every item
def square (num):
    return num**2

i = [1,2,3,4,5]
list(map(square, i))

[1, 4, 9, 16, 25]

In [ ]:
# filter: call a function and return only items that is True
def check_odd (num):
    return num % 2 == 1

i = [1,2,3,4,5,6]
list(filter(check_odd, i))

[1, 3, 5]

In [ ]:
# lambda creates "anonymous" functions when use this function you once, instead of formally defining it,
i = [1,2,3,4,5]
def square (num):
    return num**2

lambda num: num ** 2

In [ ]:
list(map(lambda num: num ** 2, i))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(filter(lambda n: n % 2 == 1,i))

[1, 3, 5]

In [ ]:
# Reduce: applies function in sequence
# For example 1+2+3+4+5: step 1: 3+3+4+5; step 2: 6+4+5; step 3: 10 + 5; step 4: 15

from functools import reduce

lst =[1,2,3,4,5]
reduce(lambda x,y: x+y,lst)

15

In [ ]:
# Find the maximum of the list
reduce(lambda x,y: x if (x > y) else y,lst)

5

In [ ]:
# Counter - a collections Module belonging to a dict subclass which helps count items as dictionary keys and the counts of the objects are stored as the value
from collections import Counter
my_list = [12,23,23,22,21,31,33,33, 'A',1,2, 'A',1,12, 'A',3,2,'a',32,1,21,1,223,1]
Counter(my_list )

Counter({12: 2,
         23: 2,
         22: 1,
         21: 2,
         31: 1,
         33: 2,
         'A': 3,
         1: 5,
         2: 2,
         3: 1,
         'a': 1,
         32: 1,
         223: 1})

In [ ]:
my_list ='This article explains the new features in Python 3.13, compared to Python 3.12'
w = Counter(my_list.split())
w

Counter({'This': 1,
         'article': 1,
         'explains': 1,
         'the': 1,
         'new': 1,
         'features': 1,
         'in': 1,
         'Python': 2,
         '3.13,': 1,
         'compared': 1,
         'to': 1,
         '3.12': 1})

Common patterns when using the Counter() object  
sum(c.values()) ----------------# total of all counts  
c.clear()---------------------------# reset all counts  
list(c)------------------------------ # list unique elements  
set(c)-------------------------- --- # convert to a set  
dict(c)---------------------------- # convert to a regular dictionary  
c.items()------------------------ # convert to a list of (elem, cnt) pairs  
Counter(dict(list_of_pairs))--------# convert from a list of (elem, cnt) pairs  
c.most_common()[:-n-1:-1]---------# n least common elements  
c += Counter()----------------------------# remove zero and negative counts

In [ ]:
# Methods with Counter()
c = Counter(w)
c.most_common(2)

[('Python', 2), ('This', 1)]

In [ ]:
# defaultdict is a dictionary-like object which provides all methods provided by a dictionary but takes a first argument as a default data type for the dictionary.
from collections import defaultdict
# namedtuple assigns names, as well as the numerical index, to each member.
from collections import namedtuple

['This',
 'article',
 'explains',
 'the',
 'new',
 'features',
 'in',
 'Python',
 '3.13,',
 'compared',
 'to',
 '3.12']

## Nested Statements and Scope

In Python, scope refers to the region of a program where a variable is accessible. Python follows the LEGB rule to determine variable scope:

LEGB Rule (Scope Resolution Order):
* L (Local Scope) - Inside a function or method.
* E (Enclosing Scope) - Nested functions (non-local).
* G (Global Scope) - Defined at the module level.
* B (Built-in Scope) - Predefined names in Python (e.g., print, len).

In [ ]:
# From chatgpt
x = "global"  # Global Scope

def outer():
    y = "enclosing"  # Enclosing Scope

    def inner():
        z = "local"  # Local Scope
        print(z)  # Access local variable
        print(y)  # Access enclosing variable
        print(x)  # Access global variable

    inner()

outer()

local
enclosing
global

In [ ]:
x = 500

def func(x):
    print('global x is', x)
    x = 20
    print('Changed local x to', x)

func(x)
print('x is still', x)

global x is 500
Changed local x to 20
x is still 500

## *args and *kwargs

In [ ]:
# *args (parameter starts with an asterisk,) allows for a number of arguments, and the function takes them in as a tuple of values.
def myfunc(a,b,c):
    return sum((a,b,c))*.05

myfunc(40,50,60)

7.5

In [ ]:
def myfunc(*args):
    return sum(args)*.05

myfunc(40,50,60)

7.5

In [ ]:
def myfunc(*mypara):
    return sum(mypara)*.05

myfunc(40,50,60)

7.5

In [ ]:
# **kwargs builds a dictionary of key/value pairs. It collects keyword arguments into a dictionary.You can then access the arguments using dictionary methods.

In [ ]:
# from chatgpt
def greet(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

greet(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [ ]:
def show_details(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

show_details(1, 2, 3, name="Alice", age=25)

Positional arguments: (1, 2, 3)
Keyword arguments: {'name': 'Alice', 'age': 25}

# Object Oriented Programming (OOP)

* Object: in Python, everything is an object. type() show the object type
* Class: Object is created using the class keyword. A class defines a blueprint for creating objects, which are instances of that class
* Attribute is a characteristic of an object
* Method is an operation we can perform with the object.
* Instance: instance is a specific object created from a particular class
* Reference: https://www.tutorialspoint.com/python/python_classes_objects.htm

In [ ]:
# * Example - from chatgpt
class Car: # ---------------------------------------------------Class (Car): Defines attributes (brand, model, year) and methods (display_info), starting with a capital letter.
    # Class Object Attribute
    color = 'white'
    def __init__(self, brand, model, year):#--------------------Constructor (__init__): Initializes object attributes when an instance is created.
        self.brand = brand #------------------------------------Attribute is a characteristic of an object.
        self.model = model
        self.year = year

    def display_info(self):#------------------------------------Method (display_info): Provides information about the car.
        return f"{self.year} {self.brand} {self.model}"

# Creating objects (instances) of the Car class
car1 = Car("Toyota", "Camry", 2022)
car2 = Car("Honda", "Civic", 2023)

# Accessing object attributes and methods
print(car1.display_info())
print(car2.display_info())
print(car2.brand) # attribute does not has () since no arguement
print(car2.color)

2022 Toyota Camry
2023 Honda Civic
Honda
white

In [ ]:
class Circle:
    pi = 3.14

    # Circle gets instantiated with a radius with default as 1)
    def __init__(self, radius=1):
        self.radius = radius
        self.area =Circle.pi * radius**2

    # Method for resetting Radius
    def setRadius(self, new_radius):
        self.radius = new_radius
        self.area = self.pi * radius**2

    # Method for getting Circumference
    def getCircumference(self):
        return  2* self.pi *self.radius


c = Circle()

print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

c = Circle(2)

print('Radius is: ',c.radius)
print('Area is: ',c.area)
print('Circumference is: ',c.getCircumference())

Radius is:  1
Area is:  3.14
Circumference is:  6.28
Radius is:  2
Area is:  12.56
Circumference is:  12.56

In [ ]:
# Inheritance is a way to build new classes using pre-defined or existing classes
# Parent Class
class Vehicle:  #-----------------------------Parent Class (Vehicle): Defines common attributes and methods.
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def display_info(self):
        return f"{self.year} {self.brand} {self.model}"

# Child Class inheriting from Vehicle
class Car(Vehicle):  # ------------------------Child Class (Car): Inherits from Vehicle and extends functionality.
    def __init__(self, brand, model, year, doors):
        super().__init__(brand, model, year)  # Calling parent class constructor
        self.doors = doors

    def display_info(self):  # Overriding the parent method
        return f"{self.year} {self.brand} {self.model} with {self.doors} doors"

# Creating an object of the Child Class
car1 = Car("Toyota", "Camry", 2022, 4)

print(car1.display_info())

2022 Toyota Camry with 4 doors

In [ ]:
# special method
class Car:
    def __init__(self, brand, model, year):
        print("A car is created")
        self.brand = brand
        self.model = model
        self.year = year

    def __str__(self):
        return "Brand: %s, model: %s, year: %s" %(self.brand, self.model, self.year)

    def __len__(self):
        return self.year

    def __del__(self):
        print("A car is losted")

In [ ]:
book = Car("Toyota", "Camry", 2022)
#Special Methods
print(book)
print(len(book))
del book

A car is created
Brand: Toyota, model: Camry, year: 2022
2022
A car is losted

# Python modules and packages

## datetime

In [ ]:
# time, create a timestamp by specifying datetime.time(hour,minute,second,microsecond)
import datetime

t = datetime.time(20, 50, 1)

# Let's show the different components
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

20:50:01
hour  : 20
minute: 50
second: 1
microsecond: 0
tzinfo: None
Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [ ]:
# date,  year, month, and day
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

2025-03-26
ctime: Wed Mar 26 00:00:00 2025
tuple: time.struct_time(tm_year=2025, tm_mon=3, tm_mday=26, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=85, tm_isdst=-1)
ordinal: 739336
Year : 2025
Month: 3
Day  : 26
Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [ ]:
d1 = datetime.date(2025, 3, 25)
print('d1:', d1)

d2 = d1.replace(year=2026)
print('d2:', d2)

d1: 2025-03-25
d2: 2026-03-25

## math

In [ ]:
# math module: https://docs.python.org/3/library/math.html
# random module: https://docs.python.org/3/library/random.html
import math
#elp(math)

In [ ]:
# Mathematical Constants: math.pi, math.e, math.tau, math.inf, math.nan
pi = math.pi
math.floor(pi)
math.ceil(pi)
round(pi)

# Log Base e
math.log(math.e)
math.log(10)

# math.log(x,base)
math.log(100,10)

# Radians
math.sin(30)
math.degrees(pi/2)
math.radians(180)

3.141592653589793

In [ ]:
sum(range(100))

4950

## random

In [ ]:
# Random module creates random numbers with or without a seed

import random
random.randint(0,100)

35

In [ ]:
# Define seed
random.seed(4)
random.randint(0,100)

30

In [ ]:
mylist = list(range(0,10))
random.choice(mylist) # Grab a random item from a list

2

In [ ]:
# Sample with replacement. Return items back in the source bag before moving to the next run.
random.choices(population=mylist,k=10)
# Sample without Replacement. Items are not returned to the source bag before moving to the next run.
random.sample(population=mylist,k=10)

[99, 22, 13, 33, 27, 3, 82, 34, 24, 21]

In [ ]:
# Shuffle a list
random.shuffle(mylist)
mylist

[8, 1, 7, 2, 6, 3, 4, 5, 9, 0]

In [ ]:
# Random Distributions
random.uniform(a=0,b=100) # Rrandom picks a value between a and b, each value has equal chance of being picked.
random.gauss(mu=0,sigma=1)# Normal/Gaussian Distribution

0.22667713790741648

## Build your own module

Docs!
* https://docs.python.org/3/tutorial/modules.html#packages
* https://python4astronomers.github.io/installation/packages.html
* Python module is simply Python file with the .py extension, which define a set of functions
* Modules are imported using the import command. https://docs.python.org/3/py-modindex.html

In [ ]:
# Need upload .py files first. Click file icon wih up arrow inside to select .py file and upload
import mymodule
import math_operations

In [ ]:
math_operations.add(5, 3)

8

In [ ]:
mymodule.greet('gz')

'Hello, gz!'

In [ ]:
x = mymodule.Person('gz')
x.name

'gz'

In [ ]:
x.introduce()

'My name is gz.'

# Regular expression

Regular Expression or regex allows a user to search for strings by rules.

In [ ]:
# Basic pattern
text = "This is a Python Bootcamp training course. It is Python"
'Python' in text # find out whether the string "Python" is inside the text string.

True

In [ ]:
# regex
import re
pattern = 'Python'
#  re.search takes the pattern, scan the text, and returns the first matched object. If no pattern is found, a None is returned
result = re.search(pattern,text)
result.span
result.start()
result.end()

16

In [ ]:
#  re.findall()
result = re.findall(pattern,text)
result
len(result)
for result in re.finditer("Python",text):
    print(result.span())

(10, 16)
(49, 55)

## Pattern

## Pattern identifiers

Regex uses distinct codes to represent characters in digits or string and build up a pattern string.

    r'mypattern'
    
r in front of the string allows python to understand that the \ in the pattern string are not meant to be escape slashes.

Popular identifiers: https://docs.python.org/3/howto/regex.html

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>
<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>
<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>
<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>
<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>
<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>
<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr>
<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>
<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>
<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>
<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>
<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>
<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr>
</table>

In [ ]:
# Find digital numbers
text = "My phone number is 123-455-6789"
phone = re.search(r'\d\d\d-\d\d\d-\d\d\d\d',text)
phone = re.search(r'\d{3}-\d{3}-\d{4}',text)
phone = re.search(r'\d+-\d+-\d+',text)
phone.group()

'123-455-6789'

In [ ]:
# Group
phone_pattern = re.compile(r'(\d{3})-(\d{3})-(\d{4})')
results = re.search(phone_pattern,text)
results.group() # The entire result
results.group(1) # Call by group position
results.group(2) # Call by group position
results.group(3) # Call by group position

'6789'

In [ ]:
# or operator |
re.search(r"man|woman","This man was here.")

In [ ]:
# Wildcard character, ".", match any character placed there
re.search(r".an","This man was here and the woman is tall")
re.findall(r".an","This man was here and the woman is tall.")# . = one character
re.findall(r"\w+an","This man was here and the woman is tall.")

['man', 'woman']

In [ ]:
# Starts vs. Ends: use the ^ to signal starts with, and the $ to signal ends.
re.findall(r"\d$","This ends with a number 2")
re.findall(r"^\d","1 is the loneliest number.")

['1']

In [ ]:
# To exclude characters, ^ symbol in conjunction with a set of brackets []. Anything inside the brackets is excluded
phrase = "there are 3 numbers 34 inside 5 this sentence."
re.findall(r"[^\d]",phrase)
re.findall(r'[^\d]+',phrase)
' '.join(re.findall('[^!.? ]+',phrase))

'there are 3 numbers 34 inside 5 this sentence'

In [ ]:
# Brackets for grouping
text = 'Only find the hypen-words in this sentence. But you do not know how long-ish they are'
re.findall(r'[\w]+-[\w]+',text)

['hypen-words', 'long-ish']

# Errors and exception

In [ ]:
# SyntaxError, with the description that it was an unterminated string literal
# Error detected during execution is called exception and can be fatal
# Built-in Exceptions¶: https://docs.python.org/3/library/exceptions.html
print('Hello world)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-1-6d22d03c5544>, line 1)

## try and except

In [ ]:
# In Python, try and except are used for handling exceptions (errors that occur during program execution)
# This helps prevent crashes and allows you to handle errors gracefully. The basic syntax looks like this (examples from chatgpt):
try:
    x = 10 / 0  # This will cause a ZeroDivisionError
except ZeroDivisionError:
    print("You can't divide by zero!")

In [ ]:
try:
    num = int("abc")  # This will cause a ValueError
except ValueError:
    print("Invalid input! Please enter a number.")

Invalid input! Please enter a number.

In [ ]:
try:
    file = open("non_existent_file.txt", "r")  # FileNotFoundError
except Exception as e:
    print(f"An error occurred: {e}")

An error occurred: [Errno 2] No such file or directory: 'non_existent_file.txt'

In [ ]:
# The finally block runs no matter what, even if an exception occurs or not
try:
    print(10/2)
except ZeroDivisionError:
    print("Error: Division by zero.")
finally:
    print("This will always execute.")

5.0
This will always execute.

In [ ]:
# The else block executes if no exception occurs.
try:
    #num = int("abc")
    print("No errors here!")
except:
    print("An error occurred.")
else:
    print("Try block executed successfully!")

No errors here!
Try block executed successfully!

In [ ]:
def askint():
    try:
        val = int(input("Please put an integer here: "))
        print("No errors here!")
    except:# ValueError:
        print("Looks like you did not enter an integer!")
        val = int(input("Try again - Please enter an integer: "))
    else:
        print("Try block executed successfully!")
    finally:
        print("Finally, I executed!")
    print(val)

askint()

Please put an integer here: q
Looks like you did not enter an integer!
Try again - Please enter an integer: 4
Finally, I executed!
4

In [ ]:
def askint():
    while True:
      try:
          val = int(input("Please put an integer here: "))
          print("No errors here!")
      except:# ValueError:
          print("Looks like you did not enter an integer!")
         #val = int(input("Try again - Please enter an integer: "))
          continue
      else:
          print("Try block executed successfully!")
          break
      finally:
          print("Finally, I executed!")
      print(val)

askint()

Please put an integer here: a
Looks like you did not enter an integer!
Finally, I executed!
Please put an integer here: 3
No errors here!
Try block executed successfully!
Finally, I executed!

# Python decorator

In [ ]:
# Content from chatgpt
# A Python decorator is a design pattern that allows you to modify or extend the behavior of functions or methods without changing their actual code.
# It's a function that takes another function (or method) as input and returns a new function with some added functionality
# A decorator is a function that wraps another function, modifying its behavior before or after it is called
def my_decorator(func):
    def wrapper():
        print("Before function execution")
        func()
        print("After function execution")
    return wrapper

@my_decorator  # The decorator is applied using the @my_decorator syntax, which is equivalent to say_hello = my_decorator(say_hello).
def say_hello():  # Original function
    print("Hello!")

say_hello()

Before function execution
Hello!
After function execution

# Python iterators and generators

An iterator is an object that implements two methods (from chatgpt):

* \_\_iter\_\_(): This method returns the iterator object itself. It allows the object to be used in a for loop or any context where an iterable is required.

* \_\_next\_\_(): This method returns the next item from the sequence. If there are no more items, it raises the StopIteration exception to signal the end of the iteration.  

A generator is a special kind of iterator that is defined using a function with the yield keyword. Generators are more memory efficient than creating a list because they generate values on the fly and do not store the entire sequence in memory.

**Key Differences Between Iterators and Generators:**
* Memory Efficiency: Generators are more memory efficient because they generate values one at a time using yield and do not store the entire sequence in memory like iterators can.

* Syntax: Generators are defined using functions with the yield keyword, whereas iterators are typically created by defining a class with \_\_iter\_\_() and \_\_next\_\_() methods.

* State Preservation: Generators automatically preserve their state between calls to next(), while iterators may need to maintain state manually in a class.

**When to Use:**
* Iterators are useful when you need to define custom iteration logic that can be reused and you want to encapsulate the iteration state in a class.

* Generators are ideal when you want a quick and memory-efficient way to generate data on the fly, especially for large datasets or streams where it is impractical to store all values in memory.

In [ ]:
# from chatgpt
class MyIterator:
    def __init__(self, start, end):
        self.current = start
        self.end = end

    def __iter__(self):
        return self  # The object itself is the iterator

    def __next__(self): # handles the logic for returning the next number and raises StopIteration when the sequence is exhausted
        if self.current >= self.end:
            raise StopIteration  # End of iteration
        self.current += 1
        return self.current - 1

# Using the iterator
my_iter = MyIterator(0, 5)   # an iterator that generates numbers from start to end - 1.
for number in my_iter:
    print(number)

0
1
2
3
4

In [ ]:
def my_generator(start, end): # a generator that yields values from start to end - 1
    current = start
    while current < end:
        yield current  # This will pause the function and return a value
        current += 1

# Using the generator
for number in my_generator(0, 5):
    print(number)

0
1
2
3
4

# Python timing

In [ ]:
# https://docs.python.org/3/library/timeit.html
# Python has a built-in timing module to monitor how long a code is taking to run
import timeit # sample from chatgpt
# Define the code snippet to be timed
code_to_test = """
sum(range(1000))
"""

# Measure execution time
execution_time = timeit.timeit(code_to_test, number=10000)
print(f"Execution time: {execution_time:.5f} seconds")

Execution time: 0.64298 seconds

In [ ]:
%timeit sum(range(1000)) # If you're using Jupyter Notebook, you can use the %timeit magic command:

18.3 µs ± 2.65 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
import timeit

def test_function():
    return sum(range(1000))

# Measure execution time
execution_time = timeit.Timer(test_function).timeit(number=10000)
print(f"Execution time: {execution_time:.5f} seconds")

499500